<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{fragments/head}"></div>
<body>
<div th:replace="~{fragments/header}"></div>

<div class="container mt-4">
    <div class="row">
        <!-- Фото товара -->
        <div class="col-md-4">
            <img src="https://via.placeholder.com/150" alt="Product Image" class="img-fluid">
        </div>

        <!-- Основная информация о товаре -->
        <div class="col-md-8">
            <h6 class="mt-auto" th:text="${laptop.fullName}"></h6>

            <!-- Значок скидки, отображается в верхнем правом углу, если есть скидка -->
            <span th:if="${laptop.discount > 0}"
                  class="badge bg-danger position-absolute top-0 end-0 rounded-pill"
                  th:text="${'-' + laptop.discount + '%'}">
                            </span>

            <!-- Блок с ценами для выравнивания -->
            <div class="mt-auto">
                <!-- Если есть скидка, показывается PriceWithDiscount, а PriceExDiscount зачёркнут -->
                <span th:if="${laptop.discount > 0}" class="product-price fw-bold text-primary mb-0"
                      th:text="${laptop.priceWithDiscount + ' ₽'}">

                                </span>
                <span th:if="${laptop.discount > 0}"
                      class="text-muted text-decoration-line-through mb-0"
                      th:text="${laptop.priceExDiscount + ' ₽'}">
                                </span>

                <!-- Если скидки нет, показывается только PriceExDiscount без зачёркивания -->
                <p th:if="${laptop.discount == 0}" class="fw-bold text-primary mb-0"
                   th:text="${laptop.priceExDiscount + ' ₽'}">
                </p>
            </div>

            <!-- Кнопка "В корзину", всегда располагается внизу -->
            <div class="mt-auto">
                <button class="btn btn-primary btn-sm w-100 mt-3">В корзину</button>
            </div>
            <!-- Описание товара -->
            <div class="mt-4">
                <h5>Описание</h5>
                <p th:text="${laptop.description}"></p>
            </div>
        </div>
    </div>

    <!-- Характеристики товара -->
    <div class="mt-5">
        <h5>Характеристики</h5>
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Тип</td>
                <td th:text="${laptop.type}"></td>
            </tr>
            <tr>
                <td>Производитель</td>
                <td th:text="${laptop.brand}"></td>
            </tr>
            <tr>
                <td>Модель</td>
                <td th:text="${laptop.model}"></td>
            </tr>
            <tr>
                <td>Цвет</td>
                <td th:text="${laptop.color}"></td>
            </tr>
            <tr>
                <td>Модель процессора</td>
                <td th:text="${laptop.cpu.model}"></td>
            </tr>
            <tr>
                <td>Количество ядер</td>
                <td th:text="${laptop.cpu.cores}"></td>
            </tr>
            <tr>
                <td>Объем оперативной памяти</td>
                <td th:text="${laptop.memory.ram}"></td>
            </tr>
            <tr>
                <td>Тип оперативной памяти</td>
                <td th:text="${laptop.memory.ramType}"></td>
            </tr>
            <tr>
                <td>Объем встроенной памяти</td>
                <td th:text="${laptop.memory.rom}"></td>
            </tr>
            <tr>
                <td>Тип встроенной памяти</td>
                <td th:text="${laptop.memory.romType}"></td>
            </tr>
            <tr>
                <td>Диагональ экрана (дюйм)</td>
                <td th:text="${laptop.display.diagonal}"></td>
            </tr>
            <tr>
                <td>Частота обновления экрана</td>
                <td th:text="${laptop.display.refreshRate}"></td>
            </tr>
            <tr>
                <td>Технология изготовления матрицы</td>
                <td th:text="${laptop.display.type}"></td>
            </tr>
            <tr>
                <td>Разрешение экрана</td>
                <td th:text="${laptop.display.resolution}"></td>
            </tr>
            <tr>
                <td>Емкость аккумулятора</td>
                <td th:text="${laptop.battery.capacity}"></td>
            </tr>
            <tr>
                <td>Выходная мощность ЗУ</td>
                <td th:text="${laptop.battery.maxChargePower}"></td>
            </tr>
            <tr>
                <td>Быстрая зарядка</td>
                <td th:text="${laptop.battery.hasFastCharge}"></td>
            </tr>
            <tr>
                <td>Поддержка беспроводной реверсивной зарядки</td>
                <td th:text="${laptop.battery.hasReverseCharge}"></td>
            </tr>
            <tr>
                <td>Поддержка беспроводной зарядки</td>
                <td th:text="${laptop.battery.hasWirelessCharge}"></td>
            </tr>
            <tr>
                <td>Операционная система</td>
                <td th:text="${laptop.operationSystem}"></td>
            </tr>
            <tr>
                <td>Количество мегапикселей основной камеры</td>
                <td th:text="${laptop.cameraResolution}"></td>
            </tr>
            <tr>
                <td>Версия Bluetooth</td>
                <td th:text="${laptop.bluetooth}"></td>
            </tr>
            <tr>
                <td>Стандарт Wi-Fi</td>
                <td th:text="${laptop.wifi}"></td>
            </tr>
            <tr>
                <td>Гарантия продавца</td>
                <td th:text="${laptop.warranty}"></td>
            </tr>
            <tr>
                <td>Год релиза</td>
                <td th:text="${laptop.releaseYear}"></td>
            </tr>
            <tr>
                <td>Ширина</td>
                <td th:text="${laptop.width}"></td>
            </tr>
            <tr>
                <td>Высота</td>
                <td th:text="${laptop.height}"></td>
            </tr>
            <tr>
                <td>Толщина</td>
                <td th:text="${laptop.thickness}"></td>
            </tr>
            <tr>
                <td>Вес</td>
                <td th:text="${laptop.weight}"></td>
            </tr>
            <tr>
                <td>Страна-производитель</td>
                <td th:text="${laptop.country}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<div th:replace="~{fragments/footer}"></div>
</body>
</html>
